langchain
langchain-community
langchain-text-splitters
langchain-pinecone>=0.1.0
langchain-openai
langchain-google-genai
langchain-aws
streamlit
pinecone
pymongo
geopy
timezonefinder
python-dotenv
pytz
requests
simsimd>=4.4.0
pytest
langchain-mongodb
pypdf
tiktoken